.p9 {
    background-color:#3b3d3e;
    height:auto;
    color:white;
    padding: 100px 50px;
}

.p9 h1 {
    text-align: center;
}

.p9 h3 {
    padding-left:60px;
    font-size:25px;
    font-weight:lighter;
    position:relative;
}

.p9 h3::before {
    content:url('../img/Domic.png');
    position:absolute;
    top:0px;
    transform: translateX(-55px);
}

.p9 img {
    width:300px;
    height:300px;
    margin:10px;
}

.p9 p {
    display:inline-block;
    font-size:20px;
    margin:10px;
}

.p9 a {
    color:white;
    text-decoration:none;
}


/* --- Адаптация для мобильных устройств --- */

/* Медиазапрос для экранов шириной до 768px (смартфоны и планшеты в портретной ориентации) */
@media (max-width: 768px) {
    .p9 {
        padding: 50px 0px; /* Уменьшаем отступы контейнера, чтобы освободить место */
    }

    .p9 img {
        width: 100%; /* Занимает всю ширину родительского контейнера */
        height: auto; /* Высота автоматически подстраивается, сохраняя пропорции изображения */
        margin: 10px 0; /* Убираем горизонтальные отступы, оставляем только вертикальные */
        display: block; /* Гарантируем, что изображения отображаются как блоки */
    }

    /* Если вы хотите, чтобы изображения занимали всю ширину экрана телефона,
       вам также нужно убрать отступы у родительских блоков, например, .p9_blocks и .p9_block */
    .p9_blocks, .p9_block {
        padding: 0;
        margin: 0;
    }
}