<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Гарантии</title>
    <link href="{% static 'catalog/css/10th_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p10">
    <a name="Гарантии"></a>
    <h1>НАШИ ГАРАНТИИ</h1>
    <div class="p10_blocks">
        <div class="p10_block">
            <img src="{% static 'catalog/img/garantii1.png' %}">
            <h3>Гарантия на сроки</h3>
            <p>Соблюдаем все сроки, указанные в договоре.</p>
        </div>
        <div class="p10_block">
            <img src="{% static 'catalog/img/garantii2.png' %}">
            <h3>Гарантия на материалы</h3>
            <p>Используем только сертифицированные материалы класса Е1.</p>
        </div>
        <div class="p10_block">
            <img src="{% static 'catalog/img/garantii3.png' %}">
            <h3>Гарантия на сборку</h3>
            <p>Качественная сборка и установка кухни.</p>
        </div>
        <div class="p10_block">
            <img src="{% static 'catalog/img/garantii4.png' %}">
            <h3>Гарантия на фурнитуру</h3>
            <p>Фурнитура от проверенных поставщиков.</p>
        </div>
    </div>
</div>
</body>
</html>
