<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Этапы изготовления кухни</title>
    <link href="{% static 'catalog/css/4th_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p4">
    <a name="Этапы"></a>
    <h1>ЭТАПЫ ИЗГОТОВЛЕНИЯ КУХНИ</h1>
    <ol class="p4_list">
        <li>
            <span class="list_title" style="font-weight:bold">Замер помещения</span><br>
            <span class="list_content">Бесплатный выезд замерщика, обсуждение пожеланий.</span>
        </li>
        <li>
            <span class="list_title" style="font-weight:bold">Выбор материалов и фурнитуры</span><br>
            <span class="list_content">
                500+ вариантов цветов, текстур и материалов.
                <a class="list_link" href="#Ассортимент" target="_blank">Смотреть материалы</a>,
                <a class="list_link" href="#Ассортимент" target="_blank">Смотреть фурнитуру</a>.
            </span>
        </li>
        <li>
            <span class="list_title" style="font-weight:bold">Изготовление проекта</span><br>
            <span class="list_content">Создание 3D-визуализации, корректировки по вашим пожеланиям.</span>
        </li>
        <li>
            <span class="list_title" style="font-weight:bold">Согласование деталей</span><br>
            <span class="list_content">Утверждение дизайна, материалов, сроков.</span>
        </li>
        <li>
            <span class="list_title" style="font-weight:bold">Подписание договора</span><br>
            <span class="list_content">
                Фиксация всех деталей, сроков и стоимости.
                <a class="list_link" href="{% static 'catalog/document_1.pdf' %}" download>Скачать договор</a>
            </span>
        </li>
        <li>
            <span class="list_title" style="font-weight:bold">Изготовление мебели</span><br>
            <span class="list_content">Производство на собственном цеху.</span>
        </li>
        <li>
            <span class="list_title" style="font-weight:bold">Доставка</span><br>
            <span class="list_content">В удобное для вас время.</span>
        </li>
        <li>
            <span class="list_title" style="font-weight:bold">Установка</span><br>
            <span class="list_content">Сборка, монтаж кухни, подключение техники.</span>
        </li>
        <li>
            <span class="list_title" style="font-weight:bold">Расчёт</span><br>
            <span class="list_content">Оплата по договору, гарантийное обслуживание.</span>
        </li>
    </ol>
</div>
</body>
</html>
