<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контроль качества</title>
    <link href="{% static 'catalog/css/7th_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p7">
    <div class="p7_1" id="p7_left">
        <h1>КОНТРОЛЬ КАЧЕСТВА НА КАЖДОМ ЭТАПЕ</h1>
        <ul>
            <li><span class="p7_list_title">Точный замер и проектирование.</span></li>
            <li><span class="p7_list_title">Качественные материалы и фурнитура.</span></li>
            <li><span class="p7_list_title">Соблюдение сроков и бюджета.</span></li>
        </ul>
    </div>
</div>
</body>
</html>
