<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О мастерской</title>
    <link href="{% static 'catalog/css/8th_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p8">
    <div class="p8_content">
        <div class="p8_content_text">
            <h2>9 ЛЕТ ОПЫТА В РЕАЛИЗАЦИИ КУХОНЬ!</h2>
            <p>Наша мастерская специализируется на изготовлении кухонь на заказ. Мы работаем напрямую с клиентами, без посредников, что позволяет предлагать доступные цены.</p>
            <p>Собственное производство находится в п. Октябрьский, Устьянский район, Архангельская область. Офис расположен по адресу: Архангельская обл., Устьянский район, п. Октябрьский, ул. Заводская, 5А, 2 этаж, павильон 2.</p>
            <p id="p8_footer">Связаться с нами можно по телефону: <a href="tel:+79216743096">+7 921-674-30-96</a> (Гончаров Олег Иванович).</p>
        </div>
        <div class="p8_content_img">
            <img src="{% static 'catalog/img/ceh.jpg' %}">
        </div>
    </div>
    <div class="button3">
        <a href="form/">
            Записаться на консультацию
        </a>
    </div>
</div>
</body>
</html>
