<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Наши работы</title>
    <link href="{% static 'catalog/css/9th_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p9">
    <h1>НАШИ РАБОТЫ</h1>
    <div class="p9_blocks">
        <div class="p9_block">
            <h3>Современные кухни</h3>
            <img src="{% static 'catalog/img/kitchen_modern1.jpg' %}">
            <img src="{% static 'catalog/img/kitchen_modern2.jpg' %}">
            <img src="{% static 'catalog/img/kitchen_modern3.jpg' %}">
            <img src="{% static 'catalog/img/1.jpg' %}">
            <img src="{% static 'catalog/img/2.jpg' %}">
            <img src="{% static 'catalog/img/3.jpg' %}">
            <img src="{% static 'catalog/img/4.jpg' %}">
            <img src="{% static 'catalog/img/5.jpg' %}">
            <img src="{% static 'catalog/img/6.jpg' %}">
            <img src="{% static 'catalog/img/7.jpg' %}">

            <img src="{% static 'catalog/img/9.jpg' %}">
            <img src="{% static 'catalog/img/10.jpg' %}">
            <img src="{% static 'catalog/img/11.jpg' %}">
            <img src="{% static 'catalog/img/12.jpg' %}">
            <img src="{% static 'catalog/img/13.jpg' %}">
            <img src="{% static 'catalog/img/15.jpg' %}">

            <!--<p>ещё...</p>-->
        </div>
        <div class="p9_block">
            <h3>Крашенные кухни</h3>
            <img src="{% static 'catalog/img/kitchen_classic1.jpg' %}">
            <img src="{% static 'catalog/img/kitchen_classic2.jpg' %}">
            <img src="{% static 'catalog/img/kitchen_classic3.jpg' %}">
            <!--<p>ещё...</p>-->
        </div>
    </div>
</div>
</body>
</html>
