<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изготовление кухонь на заказ</title>
    <link href="{% static 'catalog/css/first_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p1">
    <img src="{% static 'catalog/img/kitchen_main.jpg' %}" alt="Кухни на заказ">
    <div class="p1_text">
        <p class="title">ИЗГОТОВЛЕНИЕ КУХОНЬ НА ЗАКАЗ С 2015 ГОДА</p>
        <h1>ВАША МЕЧТА — НАША РАБОТА!</h1>
        <ul>
            <li><a class="p1_text">Индивидуальный дизайн по вашим размерам и бюджету</a></li>
            <li><a class="p1_text">Соблюдение всех сроков</a></li>
            <li><a class="p1_text">Гарантия качества и юридическая ответственность</a></li>
        </ul>
    </div>
    <div class="button1">
        <a href="form/">
            Заказать кухню
        </a>
    </div>
    <a name="Преимущества"></a>
</div>
</body>
</html>
