<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Преимущества</title>
    <link href="{% static 'catalog/css/second_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p2">
    <h1>ПОЧЕМУ МЫ ЛУЧШЕ? <span style="color:#CBA782">9 ЛЕТ ОПЫТА — ЗАЛОГ КАЧЕСТВА!</span></h1>
    <ul>
        <li><a class="text_p2">Производим мебель без наценок магазинов и посредников</a></li>
        <li><a class="text_p2">500+ вариантов цветов, оттенков и текстур материалов</a></li>
        <li><a class="text_p2">Фурнитура и материалы от проверенных поставщиков</a></li>
        <li><a class="text_p2">Экологически чистые, сертифицированные материалы (класс Е1)</a></li>
        <li><a class="text_p2">Гарантия 1 год на всю произведённую мебель</a></li>
        <li><a class="text_p2">Бесплатный выезд замерщика</a></li>
    </ul>
</div>
</body>
</html>
